APP_NAME="Reminder App"
APP_ENV=local
APP_KEY=base64:yXqIELruOgCygXpTO3UNljI13qu0r+C0NubC1pasAYQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=reminder_db
DB_USERNAME=reminder_user
DB_PASSWORD=reminder_password

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie